{{ 'style.customer-comment.css' | asset_url | stylesheet_tag }};

<div class="comment__wrapper">
    <div class="comment__container">
        <div class="comment__suptitle">
            What our customers are saying
        </div>
        <div class="comment__title">
            “Amazing product quality, Very communicative on timing and shipping.”
        </div>
        <div class="comment__user">
            / Andy Smith
        </div>
    </div>
</div>