<link href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" rel="stylesheet"/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script></script>

{{ 'style.featured-products.css' | asset_url | stylesheet_tag }}

<div class="swiper swiper1">
  <div class="swiper-wrapper">
    {% for product in collections %}
    
    <div class="swiper-slide collection-wrap">
      <div class="image__wrapp">
        <img src="{{product.image.src | img_url: 'medium'}}" alt="lelel" class="slide__img">
      </div>
      <h1 class="slide__title">{{product.title}}</h1>
    </div>
    {% endfor %}

    <h1 class="swiper-slide">ad</h1>
  </div>
  <div class="swiper-pagination"></div>
</div>


 

<script>
  const swiper = new Swiper('.swiper1', {
    slidesPerView: 4,
    pagination: {
          el: ".swiper-pagination",
        },
  });
</script>
