{{'style.home-banner.css' | asset_url | stylesheet_tag }}

<div class="banner__wrapper">
    <img src="{{'image.homebanner-main.jpg' |  asset_url }}" alt="homebanner" class="banner__main__img">
    <div class="banner__sidebar">
        <img src="{{'image.homebanner.jpg' |  asset_url }}" alt="sidebar__image" class="sidebar__image">
    </div>

</div>